name: release

on:
  push:
    tags:
      - 'v*'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: check out code
        uses: actions/checkout@v4

      - name: set up bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.1

      - name: build web ui
        working-directory: ./webui
        run: |
          bun install --frozen-lockfile
          bun run build

      - name: set up go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: run goreleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
